# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Output files
output/*.csv

# Raw data
data/*.json

# Docker
.dockerignore

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
